# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__

# Ignore virtual environments
env/
venv/
.venv/

# Ignore local configurations
*.env
.env.local

# Ignore git repository files
.git
.gitignore

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore log files and temp files
*.log
*.tmp

# Ignore test outputs
.pytest_cache/
.coverage
htmlcov/
